@import url('reset.css');

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
}

table {
    text-align: left;
}

td, th {
    padding-right: 2px;
}

th {
    border-bottom: 1px solid black;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

h2 {
	line-height: 27px;
	font-size: 18px;
}

label.error {
    color: red;
}

header {
	text-align: center;
	width: 100%;
}

#title {
}

#title .description {
    font-size: 15px;
    font-style: italic;
}

#content {
    padding: 5px;
}

#notes {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#notes li {
	max-width: 200px;
	border: 1px solid;
	color: #9F6000;
	background-color: #FEEFB3;
	margin: 5px;
	padding: 2px;
}