@import url('reset.css');

body {
	color: #000;
	font: 12px/1.5 'helvetica neue', helvetica, arial, sans-serif;
	margin: 0px;
}

table {
    text-align: left;
}

td, th {
    padding-right: 2px;
}

th {
    border-bottom: 1px solid black;
}

h1 {
    margin: 5px 0px;
    font-size: 24px;
}

h2 {
	margin: 5px 0px;
    font-size: 18px;
}

label.error {
    color: red;
}

header {
	text-align: center;
	width: 100%;
}

#title {
}

#title .description {
    font-size: 15px;
    font-style: italic;
}

#content {
    padding: 5px;
}

#notes {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#notes li {
	max-width: 200px;
	border: 1px solid;
	color: #9F6000;
	background-color: #FEEFB3;
	margin: 5px;
	padding: 2px;
}