@import url('reset.css');

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #000;
}

table {
    text-align: left;
}

td, th {
    padding-right: 10px;
}

th {
    border-bottom: 1px solid black;
}

h1, h2, h3 {
	padding: 10px 0px;
    font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

h2 {
	line-height: 27px;
	font-size: 25px;
}

label.error {
    color: red;
}

header {
	text-align: center;
	width: 100%;
}

#status {
	border: 1px solid #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 10px 15px;
    background: #fcfcfc; 
    border-color: #8c9fb2;
    padding: 5px;
}

.description {
	padding: 5px 0px;
    font-style: italic;
}

#content {
    padding: 15px;
}

#notes {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#notes li {
	max-width: 200px;
    border: 1px solid #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 10px 15px;
    padding: 2px 10px;
    position: relative;
    cursor: pointer;
    background: #fcfcfc; 
    border-color: #8c9fb2;
}