body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #000;
}

#alert {
	position: fixed;
	width: 600px;
	top: 50px;
	left: 50%;
	margin-left: -300px;
	z-index: 999;
}
