<!DOCTYPE html>
<html lang="en" ng-app="PostApp">
    <head>
        <meta charset="utf-8" />
        <title>Posts</title>
        <link rel="stylesheet" href="css/lib/bootstrap.min.css" media="screen"/>
        <link rel="stylesheet" href="css/main.css" media="screen"/>
        <link rel="icon" type="image/png" href="img/favicon.png">
        <script type="text/javascript" src="js/lib/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/lib/angular-1.2.14.js"></script>
        <script type="text/javascript" src="js/jquery.constraints.js"></script>
        <script type="text/javascript" src="js/angular.jarb.js"></script>
        <script type="text/javascript" src="js/posts.js"></script>
    </head>
    <body ng-controller="PostCtrl">
        <div class="container">
	        <header>
	           <h1 class="text-center">Messages board <small>JaRB sample</small></h1>
	        </header>
        
	        <section id="alert" class="alert alert-{{ message.type }}" role="alert" ng-if="message">
	            <p>{{ message.text }}</p>
	        </section>
        
            <section class="row">
                <div class="col-md-12">
					<h2>Posts</h2>
					<table class="table table-striped">
					    <thead>
					        <tr>
					            <th>Title</th>
					            <th>Author</th>
					            <th>Date</th>
					            <th>Message</th>
					        </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="post in posts" class="{{ post.created ? 'success' : '' }}">
					          <td>{{ post.title }}</td>
					          <td>{{ post.author }}</td>
					          <td>{{ post.postedOn | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
					          <td>{{ post.message }}</td>                        
					      </tr>
					    </tbody>
					</table>
                </div>
            </section>
    
            <section class="row">
                <div class="col-md-6">
                    <h2>Create a new post</h2>
	                <form ng-submit="create()" constraints="/constraint/post" ng-include="'create-post.html'"></form>
                </div>
                <div class="col-md-6">
                    <h2>Create a new post (without validation)</h2>
                    <form ng-submit="create()" ng-include="'create-post.html'"></form>
                </div>
            </section>
            
            <aside class="row">
                <div class="col-md-12">
	                <h2>Notes</h2>
	                <ul>
						<li>Form input fields are enriched with backend constraints.</li>
						<li>The author label received an <code>(*)</code> suffix, because it is not null in our database.</li>
						<li>The author input has to be an email address, because it is annotated as <code>@Email</code>.</li>
						<li>Try adding a post with a title that already exists.</li>
			        </ul>
		        </div>
            </aside> 
        </section>
        
        <footer>
            <ul class="list-inline text-center">
                <li><a href="http://www.jarbframework.org">JaRB</a></li>
            </ul>
        </footer>
    </body>
</html>

<script type="text/ng-template" id="create-post.html">
    <div class="form-group">
        <label for="author">Author</label>
        <input ng-model="newPost.author" id="author" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input ng-model="newPost.title" id="title" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <input ng-model="newPost.message" id="message" class="form-control"/>
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
</script>
